.Button {
    background-color: transparent;
    min-width: 6rem;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    border: 1px solid transparent;
    box-shadow: 2px 2px 2px 1px transparent;
}

.Button:disabled {
    color: #939598;
    border-color: #939598;
    box-shadow: 0.5px .5px 3px #939598;
    cursor: not-allowed;
}

.Success {
    color: #4F6F0F;
    border-color: #4F6F0F;
    box-shadow: 0.5px .5px 3px #4F6F0F;
}
.Neutral {
    color: #00D5FF;
    border-color: #00D5FF;
    box-shadow: 0.5px .5px 3px #00D5FF;
}

.Danger {
    color: #FF5E22;
    border-color: #FF5E22;
    box-shadow: 0.5px .5px 3px #FF5E22;
}