.Input {
    width: 100%;
    padding: 0.6rem;
    box-sizing: border-box;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: .5rem;
}

.InputElement {
    outline: none;
    border: 1px solid #bbb;
    background-color: #eee;
    font: inherit;
    padding: .3rem .6rem;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.InputElement:focus {
    outline: none;
    background-color: #bbb;
}

.Invalid {
    background-color: #c06262;
    border: 1px solid #c04545;
}